/*Blue #2eaef0 & #026ea6 */

.btn:focus,
#filters ul li a:hover h5,
#filters ul li a.active h5,
.cl-effect-21 a::before,
.cl-effect-21 a::after,
.cl-effect-21 .active a::before,
.cl-effect-21 .active a::after, .service-icon i  {
    background: #fbf7f2;
}

.btn-2{
  background: #FF9145;
  border: 2px solid #FF9145;
}

.btn-2:hover{
  background: #FFFFFF;
  color:#FF9145;
  box-shadow: none !important;
}

.blue{
  color: #334378 !important;
}

.orange{
  color: #f47721 !important;
}

.light, .light h2, .light h3, .light ul {
    color:#fff!important;
}

.product-wrap > .container > .row > .big-title, .about-wrap > .container > .row > .big-title, #portfolio-wrap  .big-title, .sub-section .big-title {
  color: #f47721;
}

.subscription-wrap ul, .product-wrap ul {
  color: inherit;
}


.spinner {
	border-top-color: #2eaef0;
}


.btn-2:hover, .btn-2:active, .btn-2 {
	box-shadow: 0 4px #FFB481;
}

a, a:hover, a:focus,
#slider_left i:hover,
#slider_right i:hover,
.text-color,
.cl-effect-21 a:hover,
.cl-effect-21 a:focus,
.cl-effect-21 .active a,
.cl-effect-21 .active a:focus,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li.active > a,
.btn-1:hover,
.btn-1:active {
    color: #f47721;
}
